nav {
    background-color: @queens-blue;
    color: @white;
    padding: 5px 10px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin-right: 5px;
            display: inline-block;
        }
    }
}
.holder {
    .table {
    }
}