.filemanager {
    span.file.selected {
        background-color: @gray-lighter;
    }
    #info {
        #directory-commands, #file-commands {
            margin-bottom: 60px;
            input[type=submit] {
                margin: 10px 0;
            }
            form {
                background-color: @gray-lighter;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 20px;
            }
        }
    }
}
