
.files {
    i[class^="icon-"] {
        margin-right: 10px;
        font-size: 1.5em;
        color: @secondaryB1;
    }
    i[class=icon-folder-close] {
        position: relative;
        top: 3px;
    }
    span.download {
        &:hover {
            cursor: pointer;
        }
    }
}