body,html {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    border-right: @black 2px solid;
}

body {
    background-color: @body-bg;
    color: @text-color;
}

a {
    color: @primary;
    text-decoration: none;
    &:hover {
        color: @primary;
        text-shadow: 1px 1px 1px @black;
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5,h6 {
    color: @primary;
}