
.container.frame {
    margin: 0;
    padding: 0;
    .table.small {
        width: 400px;
        input, select {
            width: 100%;
        }
        th {
            width: 100px;
        }
    }
    .hidden {
        display: none;
    }
    p.error {
        color: @brand-error;
    }
}