
.filemanager {
    #info {
        position: fixed;
        padding: 5px;
        top: 15px;
        left: 785px;
        border: 1px dotted @secondaryB1;
        .drop-area {
            color: @gray-light;
            text-align: center;
            opacity: 0.5;
            font-size: 50px;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
            padding: 50px;
            background-color: @gray-lighter;
            &:hover {
                opacity: 0.6;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
                cursor: pointer;
            }
        }
        .move-file {
            button {
                margin: 5px 0 25px 5px;
            }
        }
    }
}