reverie-core/resources/public/static/admin/js/jquery*.js linguist-vendored
reverie-core/resources/public/static/admin/js/tinymce/* linguist-vendored
reverie-core/resources/public/static/admin/js/fancy-tree/* linguist-vendored
reverie-core/resources/public/static/admin/css/* linguist-vendored
