/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.emacs.desktop
.emacs.desktop.lock
/projects
.DS_Store
.lein-repl-history
.repl
.nrepl-port
out
media
*.org
blackboard/
/*/target/
/*/checkouts
/reverie-core/resources/public/static/admin/css/editing.css
/reverie-core/resources/public/static/admin/css/main.css
.docker-data
reverie-test/src/reverie/site/objects/testus.clj
reverie-test/src/reverie/site/objects/migrations/testus
