.reverie-area {
  position: relative;
}
.reverie-area .hidden {
  display: none !important;
}
.reverie-area li.reverie-bar {
  border-top: 1px black solid;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}
.reverie-area .reverie-area-holder {
  margin-bottom: 15px;
}
.reverie-area .reverie-area-panel {
  display: inline-block !important;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
}
.reverie-area .reverie-area-panel:hover {
  cursor: pointer;
}
.reverie-area .reverie-area-menu {
  list-style: none;
  position: absolute;
  z-index: 99999;
  padding: 0;
  top: 15px;
  left: 5px;
  display: inline-block;
  background-color: #999999;
  border: 1px #555555 solid;
}
.reverie-area .reverie-area-menu li {
  padding: 5px;
}
.reverie-area .reverie-area-menu .add-objects:hover {
  cursor: pointer;
}
.reverie-area .reverie-area-menu .add-objects:hover ul.reverie-objects {
  display: inline-block;
}
.reverie-area .reverie-area-menu ul.reverie-objects {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 5px;
  background-color: #eeeeee;
  color: #000000;
  border: 1px #555555 solid;
}
.reverie-area .reverie-area-menu ul.reverie-objects li {
  padding: 5px;
}
.reverie-area .reverie-area-menu ul.reverie-objects li:hover {
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
.reverie-area .reverie-object,
.reverie-area .reverie-origo {
  margin-bottom: 15px;
}
.reverie-area .reverie-object sup.reverie-app-path,
.reverie-area .reverie-origo sup.reverie-app-path {
  margin-left: 5px;
  color: #eeeeee;
}
.reverie-area .reverie-object sup.reverie-app-path:before,
.reverie-area .reverie-origo sup.reverie-app-path:before {
  content: "[path] ";
}
.reverie-area .reverie-ready-for-cut {
  border: 3px dotted #1553ad;
}
.reverie-area .reverie-ready-for-copy {
  border: 3px dotted #00c12b;
}
.reverie-area .reverie-object-holder,
.reverie-area .reverie-origo-holder {
  margin-bottom: 5px;
}
.reverie-area .reverie-object-panel,
.reverie-area .reverie-origo-panel {
  position: relative;
  background-color: #999999;
  padding: 5px;
  display: inline-block;
}
.reverie-area .reverie-object-panel:hover,
.reverie-area .reverie-origo-panel:hover {
  cursor: pointer;
}
.reverie-area .reverie-object-menu {
  position: absolute;
  z-index: 99999;
  top: 25px;
  left: 5px;
  background-color: #eeeeee;
  color: #000000 !important;
  font-size: medium;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}
.reverie-area .reverie-object-menu li {
  position: relative;
  padding: 3px 5px;
}
.reverie-area .reverie-object-menu li:hover {
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
.reverie-area .reverie-object-menu .move-object:hover .move-object-to {
  display: block;
}
.reverie-area .reverie-object-menu .move-object-to {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 149px;
  width: 150px;
  top: 0;
  background-color: #555555;
  border: 1px black solid;
}
.reverie-area .reverie-object-menu .move-object-to li {
  padding: 3px 5px;
  color: #222222;
  background-color: #eeeeee;
}
.reverie-area .reverie-object-menu .move-object-to li:hover {
  background-color: #999999;
  cursor: pointer;
}
.reverie-area .reverie-object-menu .reverie-sub-menu-holder:after {
  content: " »";
}
.reverie-area .reverie-object-menu .reverie-sub-menu-holder:hover > ul {
  display: block;
}
.reverie-area .reverie-object-menu .reverie-sub-menu-holder > ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 149px;
  width: 150px;
  top: 0;
  background-color: #555555;
  border: 1px black solid;
}
.reverie-area .reverie-object-menu .reverie-sub-menu-holder > ul li {
  padding: 3px 5px;
  color: #222222;
  background-color: #eeeeee;
}
.reverie-area .reverie-object-menu .reverie-sub-menu-holder > ul li:hover {
  background-color: #999999;
  cursor: pointer;
}
.reverie-area li.reverie-bar {
  border-top: 1px black solid;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}
.ui-fancytree .published {
  background-color: blue;
}
