.reverie-area {
  position: relative;
}
.reverie-area .reverie-area-holder {
  margin-bottom: 15px;
}
.reverie-area .reverie-area-panel {
  display: inline-block !important;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
}
.reverie-area .reverie-area-panel:hover {
  cursor: pointer;
}
.reverie-area .reverie-area-menu {
  list-style: none;
  position: absolute;
  z-index: 99999;
  padding: 0;
  top: 15px;
  left: 5px;
  display: inline-block;
  background-color: #999999;
  border: 1px #555555 solid;
}
.reverie-area .reverie-area-menu li {
  padding: 5px;
}
.reverie-area .reverie-area-menu .add-objects:hover {
  cursor: pointer;
}
.reverie-area .reverie-area-menu .add-objects:hover ul.reverie-objects {
  display: inline-block;
}
.reverie-area .reverie-area-menu ul.reverie-objects {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 5px;
  background-color: #eeeeee;
  border: 1px #555555 solid;
}
.reverie-area .reverie-area-menu ul.reverie-objects li {
  padding: 5px;
}
.reverie-area .reverie-area-menu ul.reverie-objects:hover {
  display: inline-block;
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
.reverie-area .reverie-object {
  margin-bottom: 15px;
}
.reverie-area .reverie-object-holder {
  margin-bottom: 5px;
}
.reverie-area .reverie-object-panel {
  position: relative;
  background-color: #999999;
  padding: 5px;
}
.reverie-area .reverie-object-panel:hover {
  cursor: pointer;
}
.reverie-area .reverie-object-menu {
  position: absolute;
  z-index: 99999;
  top: 25px;
  left: 5px;
  background-color: #eeeeee;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}
.reverie-area .reverie-object-menu li {
  padding: 3px 5px;
}
.reverie-area .reverie-object-menu li:hover {
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
}
.reverie-area li.reverie-bar {
  border-top: 1px black solid;
  padding: 0;
}
