$primary: #1605ff;
$secondary: #05deff;

$white: #f0f0f0;

$red-1: #F5222D;
$volcano-1: #FA541C;
$orange-1: #FA8C16;
$gold-1: #FAAD14;
$yellow-1: #FADB14;
$lime-1: #A0D911;
$green-1: #52C41A;
$cyan-1: #13C2C2;
$blue-1: #1890FF;
$geekblue-1: #2F54EB;
$purple-1: #722ED1;
$magenta-1: #EB2F96;
$grey-1: #666666;
