@import "../admin.colours.less";

.reverie-area {
    .reverie-area-panel {
        display: inline-block !important;
        padding: 5px 10px;
        background-color: @gray;
        color: @white;
        &:hover {
            cursor: pointer;
        }
    }
}